<div class="container">
  <h1 class="text-center">My Favorite Heros</h1>
  
  <p class="text-center">
    <a href="/marvel/favorites">Favorites</a> | <a href="/main">Home</a>
  </p>
      
  <div class="show">
      <p><%= character.name %></p> 
      <img src="<%= character.thumbnail.encodedURI('path' + "." + 'extension') %>" alt=" <%=character.name %>">
      <h4><%= character.description %></h4>
      <h3><%= character.comics.items.name %>3</h3>

    <div>
      <form method="POST" action="/marvel/<%= character.character %>">
        <input type="submit" value="delete" />
      </form>
    </div>
  </div>


