<p>Hello, <%= currentUser.name %></p>
<a href="/marvel">Favorite Heros and Comics</a>

<div class="character">
  <% characters.forEach(function(character) { %>
      <h2><a href='#'><%= character.name %></a></h2>
      <% if (character.thumbnail.path.split('/').pop() != 'image_not_available'){ %>
        <img src="<%= character.thumbnail.path + '.' + character.thumbnail.extension %>"> 
      <% } %>
      <p><%= character.description %></p>
      <form method="POST" action="/marvel">
        <input hidden type="text" name="character" value="<%= character.name %>" >
        <button class="btn btn-primary" type="submit">Add Character to Favorites</button>
      </form>
  <div class='comic'>
    <% character.comics.items.forEach(function(comic) {%>
        <h2><a href='#'><%= comic.name %></a></h2>
        <form method="POST" action="/marvel">
          <input hidden type="text" name="comic" value="<%= comic.name %>" >
          <button class="btn btn-primary" type="submit">Add Comics to Favorite </button>
        </form>
    <% }); %>
  </div>
  <% }); %>
</div>

